@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,200&subset=latin-ext);

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
}
body {
  background: #000;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
h1, h2, h3, button {
  font-weight: 400;
  text-transform: uppercase;
}
span {
  color: #24ba9f;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  height: 50px;
}
header .container{
  padding: 15px 0 0 0;
  background: #000;
}
header h1 {
  float: left;
  font-size: 14px;
  color: #fff;
}
nav {
  float: right;
}
nav ul li {
  display: inline-block;
  position: relative;
  float: left;
}
nav ul li a {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
nav ul li a:hover, .dropdown-content li a:hover {
  color: #d8d8d8;
}
.dropdown{
  padding-bottom: 50px;
  z-index: 10;
}
.dropdown-content {
  position: absolute;
  display: none;
  z-index: 10;
  top: 45px;
  left: -20px;
  background: #000;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown-content:hover {
  display: block;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 42%;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background: #000;
}
.dropdown-content li {
  display: block;
  float: none;
  padding: 10px 5px;
}
#gallery .container {
  position: relative;
  height: 450px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(203,206,213,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(203,206,213,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(203,206,213,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(203,206,213,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(203,206,213,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(203,206,213,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbced5', GradientType=0 );
}
.gallery-wrapper {
  height: 350px;
  top: 0;
  bottom: -60px;
  left: 0;
  right: 0;
  margin: auto 0;
  position: absolute;
}
.gallery-wrapper #buttonPrev {
  position: absolute;
  top: 30%;
  left: 120px;
  font-size: 60px;
  color: #24ba9f;
  cursor: pointer;
}
.gallery-wrapper #buttonNext {
  position: absolute;
  top: 30%;
  right: 120px;
  font-size: 60px;
  color: #24ba9f;
  cursor: pointer;
}
.gallery-img span:hover {
  opacity: 0.5;
}
.gallery-img {
  width: 50%;
  float: left;
}
.gallery-img ul {
  float: right;
}
.gallery-img ul li {
  float: right;
}
.gallery-img ul li.hide {
  display: none;
}
.gallery-text {
  width: 400px;
  float: left;
  text-align: center;
}
.gallery-text h2 {
  margin: 50px 0 20px 0;
  font-size: 36px;
}
.gallery-text p {
  font-size: 14px;
  line-height: 24px;
}
button,
form submit {
  margin: 30px 0 0 0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #24ba9f;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
#examples .container{
  height: 300px;
}
.border-bottom {
  width: 145px;
  padding-bottom: 5px;
  border-bottom: 5px solid #24ba9f;
}
.example {
  position: relative;
  float: left;
  width: 330px;
  height: 230px;
  margin: 30px 14px;
  box-sizing: border-box;
}
.example div {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 50px;
  background: rgba(250, 250, 250, 0.5);
}
.example:hover > div {
  display: none;
}
.example div h4 {
  margin: 12px 0 0 12px;
  font-size: 16px;
  display: inline-block;
}
#clair {
  background-image: url(../images/box1_img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#margarita {
  background-image: url(../images/box2_img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.example-text {
  padding: 15px;
  border: 1px solid #d8d8d8;
}
.example-text p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}
#prices .container {
  height: 720px;
  background: #f1f1f1;
}
#prices .container .wrapper,
#compose .container .wrapper,
#contact .container {
  height: 100%;
  padding: 50px 0 0 0
}
#prices h2,
#compose h2,
#contact h2 {
  margin: 0 0 75px 14px;
  width: 330px;
  font-weight: 400;
  color: #5c5c5c;
}
.choice {
  position: relative;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 330px;
  height: 500px;
  margin: 0 14px;
  border: 1px solid #c2c2c2;
  background: #fff;
}
.choice .circle {
  position: absolute;
  top: -38px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  background: #fff;
}
.choice .circle .inner-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 50%;
  background: #c2c2c2;
}
.choice h3 {
  margin: 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #24ba9f;
}
.choice .price-circle {
  top: 70px;
  width: 120px;
  height: 120px;
}
.choice .price-circle div {
  position: relative;
  width: 100%;
  height: 100%;
}
.choice .price-circle h4, .choice .price-circle p{
  color: #c3c3c3;
  text-transform: uppercase;
  text-align: center;
}
.choice .price-circle h4 {
  margin: 25px 0 5px -5px;
  font-size: 36px;
}
.choice .price-circle h4 sup {
  position: absolute;
  top: 0;
  font-size: 14px;
}
.choice .price-circle p {
  font-size: 14px;
  font-weight: bold;
}
.choice .benefits {
  position: absolute;
  top: 45%;
  width: 100%;
}
.choice .benefits p {
  padding: 10px 0;
  background: #e4e4e4;
  color: #797979;
  text-align: center;
}
.choice .benefits p:nth-child(even) {
  background: #f1f1f1;
}
.choice button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 120px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
}
.choice:hover {
  background: #24ba9f;
  border: 1px solid #24ba9f;
}
.choice:hover .circle {
  background: #24ba9f;
  border: 1px solid #24ba9f;
}
.choice:hover h3{
  color: #fff;
}
.choice:hover .circle .inner-circle,
.choice:hover .price-circle,
.choice:hover button {
  background: #fff;
  color: #24ba9f;
}
.choice:hover .price-circle h4,
.choice:hover .price-circle p {
  color: #24ba9f;
}
.choice:hover .benefits p {
  background: #fff;
}
.choice:hover .benefits p:nth-child(even) {
  background: #f1f1f1;
}
#compose .container {
  background: #f1f1f1;
}
#compose form > div{
  position: relative;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 330px;
  height: 380px;
  margin: 0 14px;
}
#compose h2{
  margin: 0;
}
#compose .border-bottom h2{
  width: 110%;
}
#compose .border-bottom {
  width: 100%;
  margin: 0 0 50px 0;
}
#compose select {
  background: #fff;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#compose select {
  color: #797979;
}
#compose .select-wrapper {
  position: relative;
}
#compose .select-wrapper::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #24ba9e transparent transparent transparent;
}
#compose label {
  font-size: 32px;
}
#compose div img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#compose table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  font-size: 24px;
}
#compose td {
  height: 56px;
  padding-left: 10px;
}
#compose td:nth-of-type(1n+2),
#compose tr:first-child td:first-child {
  color: #24ba9e;
}
#compose td:nth-of-type(1n+2) {
  width: 94px;
  padding-right: 10px;
  text-align: right;
}
#compose td:first-child {
  border-right: 1px solid #d8d8d8;
}
#compose tr:last-child td{
  border-top: 1px solid #d8d8d8;
}
#compose tr:last-child td:first-child {
  border-right: none;
  text-transform: uppercase;
}
#compose submit {
  bottom: -10px;
}
#compose,
#contact {
  height: 550px;
}
#compose .container,
#contact .wrapper,
#contact .container {
  height: 100%;
}
#contact .wrapper > div,
footer .wrapper > div {
  height: 100%;
  padding: 0 14px;
}
#contact h2 {
  margin: 0 0 50px 0;
}
.wrapper-left {
  float: left;
  width: 60%;
}
.wrapper-right {
  position: relative;
  float: right;
  box-sizing: border-box;
  width: 35%;
  margin: 0 0 0 5%;
}
form .wrapper-right {
  height: 338px;
}
.wrapper-left input,
form textarea,
#compose select {
  display: block;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 25px 0;
  padding: 10px;
  font-size: 32px;
  font-weight: 200;
  border: 1px solid #24ba9f;
}
form textarea {
  height: 170px;
}
form img {
  display: block;
  margin: -20px auto 35px auto;
}
input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label span {
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 10px 0 0;
  border: 1px solid #24ba9f;
  cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/form_ok.jpg) left top no-repeat;
    background-position: center;
    background-size: contain;
}
form label {
  float: left;
  font-weight: 200;
  color: #797979;
}
form submit {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
}
footer {
  height: 75px;
  color: #797979;
}
footer .container {
  height: 100%;
}
footer ul,
footer ul li,
footer h1 {
  display: inline-block;
}
footer p {
  margin: 18px 0 0 0;
}
footer h1 {
  float: right;
  margin: 18px 0 0 0;
  font-size: 16px;
  color: #797979;
}
footer h1 span {
  font-weight: 700;
  color: #797979;
}
